/*
 * @Author: mocheng
 */
@import url('../../../styles/theme.less');

.list-view{
    .list-view-content{
        width: 100%;
        .clearfix();
    }
    .list-view-more{
        display: block;
        width: 100%;
        padding: 15px 0;
        text-align: center;
        background: #fff;
        border-top: 1px solid #eee;
    }
}
